@import "_var";
@import "_fonts";
@import "_reset";

body {
    padding: 20px 40px;
}

button {
    cursor: pointer;
    color: rgb(0 153 255);
    background-color: transparent;
    border: none
}

@import "_header";
@import "_card";
@import "_footer"